
body {
  font: 16px Helvetica;
	
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	
	/* The Magic */
	background-size:cover
	
	font-family: 'Quicksand', sans-serif;
	
	}


.title {
  text-align:center;
  margin-left: 15px;
  color:#4D4D4D;

  
}

.formbox {
  margin: 50px auto;
  width: 400px;
  height: 950px;
  border-radius: 2px/2px;
  background-color: white;
  border: 7px solid #cbc9c9;

  -webkit-border-radius: 2px/2px;
  -moz-border-radius: 2px/2px;
  -webkit-box-shadow: 50px 50px 50px rgba(0,0,0,3);
  -moz-box-shadow: 50px 50px 50px rgba(0,0,0,3);
   box-shadow: 1px 2px 5px rgba(5,5,5,3);

}
ul li {
  list-style: none;
  padding: 10px;
}
label {
  display: block;
  cursor: pointer;
  margin: 2px;
  color: black;
}
textarea {
  width: 300px;
  height: 100px;
  color:#9aa3ad;
  font-family: 'Quicksand', sans-serif;
  font-size:18px;

}
.other {
  width: 70px;

}
.ready {
  background: #8E81CE;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 100px;
  height:30px;
  margin-top: -15px;
  font-size:16px;
  cursor: pointer;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: center;



  
}